.company-tr:hover{
    cursor: pointer;
    color: var(--paragraph);
    background-color: var(--highlight) !important;
}
.change-grater-0{
    color: rgb(10, 165, 10);
}
.change-lower-0{
    color: rgb(226, 54, 54);
}
.change-0{
    color: white;
}
.change-td {
    font-weight: 600;
}
.company-tr:nth-child(even){
    background-color: #2a254b54;
}
